@{
    ViewBag.Title = "About";
}
<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/Content/CSS/About.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <section class="about__header">
        <div class="container-fluid header__wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 banner">

                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 about__meta meta__purple">
                    <div class="meta__icon">
                        <i class="fas fa-book"></i>
                    </div>
                    <div class="meta__info">
                        <h2>Learn</h2>
                        <h3>at your pace</h3>
                        <p>
                            Courses for all levels cover technical skills, creative techniques, business strategies, and more. We
                            have collected.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 about__meta meta__red">
                    <div class="meta__icon">
                        <i class="fas fa-door-open"></i>
                    </div>
                    <div class="meta__info">
                        <h2>Explore</h2>
                        <h3>courses</h3>
                        <p>
                            Sign up and find out for yourself why so many people are taking and recommending this course. I genuinely
                            believe.
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 about__meta meta__orange">
                    <div class="meta__icon">
                        <i class="fas fa-play-circle"></i>
                    </div>
                    <div class="meta__info">
                        <h2>Enroll</h2>
                        <h3>in courses</h3>
                        <p>
                            Get unlimited access to 2,000 of Udemy’s top courses for your team. Teach what you love. Udemy gives you
                            the tools.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="about__us">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="contact_content">
                        <h4>WHO ARE WE ?</h4>
                        <blockquote class="blockquote">
                            Our grantees and partners generosity truth, prevention nutrition
                            involvement Ford Foundation. Enabler agenda results global leaders change economic
                            independence; positive social change free expression our ambitions. Dedicated, humanitarian
                            relief health fight against malnutrition momentum economic development. Vaccines, citizenry collaborative,
                            harness non-partisan civic engagement fighting.
                        </blockquote>
                        <button class="contact__btn">CONTACT US NOW</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/img/about.png" alt="about" />
                </div>
            </div>
        </div>
    </section>

    <section class="certification">
        <div class="container certification__wrapper">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="certi__title">
                        <h3>HOW OUR CLASSES WORK</h3>
                        <p>Share your work to collaborate with our vibrant</p>
                    </div>
                    <div class="row certi__content">
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 certi__item">
                            <h6>1. Become a Member</h6>
                            <p>Watch classes on your own schedule, anytime, anywhere.</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 certi__item">
                            <h6>2. Learn By Doing</h6>
                            <p>Lessons are bite-sized with most classes under an hour.</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 certi__item">
                            <h6>3. Engage with a Community</h6>
                            <p>Create projects and build a portfolio of work.</p>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 certi__item">
                            <h6>4. Take a Course</h6>
                            <p>Enroll in online classes taught by creators from around the world.</p>
                        </div>
                    </div>
                    <div class="certi__button">
                        <button class="certi__btn">VIEW ALL COURSES</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team">
        <div class="container text-center">
            <h4>MEET OUR TEAM</h4>
            <div class="row">
                <div class="col-md-4 pl-0 pr-3">
                    <div class="team__item">
                        <div class="team__image">
                            <img src="~/Content/img/team-member-5.jpg" alt="team-member" />
                            <div class="team__social">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-google-plus-g"></i>
                                <i class="fab fa-pinterest-p"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                        <div class="team__content">
                            <h5>MR. STORMIT</h5>
                            <p>CEO of theme-sky</p>
                            <p>
                                Our grantees and partners generosity truth, prevention nutrition involvement Ford Foundation. Enabler
                                agenda results global leaders.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 px-2">
                    <div class="team__item">
                        <div class="team__image">
                            <img src="~/Content/img/team-member-3.jpg" alt="team-member" style="width: 100%;height: 290px;" />
                            <div class="team__social">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-google-plus-g"></i>
                                <i class="fab fa-pinterest-p"></i>
                                <i class="fab fa-instagram"></i>
                            </div>
                        </div>
                        <div class="team__content">
                            <h5>MR. KING</h5>
                            <p>Developer</p>
                            <p>
                                Our grantees and partners generosity truth, prevention nutrition involvement Ford Foundation. Enabler
                                agenda results global leaders.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 pr-0 pl-3">
                    <div class="team__item">
                        <div class="team__image">
                            <img src="~/Content/img/team-member-6.jpg" alt="team-member" />
                            <div class="team__social">
                                <i class="fab fa-facebook-f"></i>
                                <i class="fab fa-twitter"></i>
                                <i class="fab fa-google-plus-g"></i>
                                <i class="fab fa-pinterest-p"></i>
                                <i class="fab fa-instagram"></i>

                            </div>
                        </div>
                        <div class="team__content">
                            <h5>MS. JENNY</h5>
                            <p>Developer</p>
                            <p>
                                Our grantees and partners generosity truth, prevention nutrition involvement Ford Foundation. Enabler
                                agenda results global leaders.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>