
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="Teacher.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7eaad007ea.js"></script>
    <link rel="stylesheet" href="~/Content/CSS/Event.css">
</head>
<body>
    <section class="events">
        <div class="container countdown__wrapper">
            <div class="row ">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="countdown__event " style="marginTop:250">
                        <div class="countdown__timer">
                            <div class="countdown__section">
                                <div class="countdown__amount countdown__days">101</div>
                                <div class="countdown__period">DAYS</div>
                            </div>
                            <div class="countdown__section">
                                <div class="countdown__amount countdown__hours">60</div>
                                <div class="countdown__period">HOURS</div>
                            </div>
                            <div class="countdown__section">
                                <div class="countdown__amount countdown__minutes">69</div>
                                <div class="countdown__period">MINUTES</div>
                            </div>
                            <div class="countdown__section">
                                <div class="countdown__amount countdown__seconds">69</div>
                                <div class="countdown__period">SECONDS</div>
                            </div>
                        </div>
                        <h2 class="countdown__title">IT CONFERENCE 2020</h2>
                        <h3 class="countdown__subtitle">10 - 12 DECEMBER, 2020, HUTECH</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ticket">
        <div class="container ticket__wrapper">
            <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ticket__left">
                    <div class="ticket__image">
                        <img src="~/Content/img/event-icon.png" alt="ticket" />
                    </div>
                </div>
                <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 ticket__right">
                    <div class="ticket__content">
                        <h3 class="ticket__title">WHAT IS BUSINESS CONFERENCE 2019</h3>
                        <h4 class="ticket__sub__title">Where The Business World Meets</h4>
                    </div>
                    <p>Conference dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                    <div class="ticket__btn">
                        <button class="buy__btn">Buy Ticket</button>
                        <button class="knowmore__btn">Know More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="events_speaker">
        <div class="container speaker__wrapper">
            <div class="row speakers">
                <h3 class="speaker__title">Who's Speaking?</h3>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 speaker">
                    <div class="">
                        <div class="speaker__image">
                            <img src="~/Content/img/event-speaker1.jpg" alt="speaker" />
                        </div>
                        <div class="speaker__info">
                            <h5>JEFF SEVERIN</h5>
                            <p>Pixar Animation Studios</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 speaker">
                    <div class="speaker">
                        <div class="speaker__image">
                            <img src="~/Content/img/event-speaker2.jpg" alt="speaker" />
                        </div>
                        <div class="speaker__info">
                            <h5>JAMIE WEN</h5>
                            <p>GM, The boxtrap</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 speaker">
                    <div class="speaker">
                        <div class="speaker__image">
                            <img src="~/Content/img/event-speaker3.jpg" alt="speaker" />
                        </div>
                        <div class="speaker__info">
                            <h5>CHELSIE</h5>
                            <p>CEO, Hatem Co.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 speaker">
                    <div class="speaker">
                        <div class="speaker__image">
                            <img src="~/Content/img/event-speaker4.jpg" alt="speaker" />
                        </div>
                        <div class="speaker__info">
                            <h5>WILLIAM JOHNSON</h5>
                            <p>Producer, CSI:Cyber</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 speaker">
                    <div class="speaker">
                        <div class="speaker__image">
                            <img src="~/Content/img/event-speaker5.jpg" alt="speaker" />
                        </div>
                        <div class="speaker__info">
                            <h5>RUTH SMITH</h5>
                            <p>CCO, Bittorrent [CCO, Bittorrent]</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 speaker">
                    <div class="speaker">
                        <div class="speaker__image">
                            <img src="~/Content/img/event-speaker6.jpg" alt="speaker" />
                        </div>
                        <div class="speaker__info">
                            <h5>RICKEY D.NG</h5>
                            <p>CEO, The Sage Group</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 speaker">
                    <div class="speaker">
                        <div class="speaker__image">
                            <img src="~/Content/img/event-speaker7.jpg" alt="speaker" />
                        </div>
                        <div class="speaker__info">
                            <h5>ROBIN GUZMAN</h5>
                            <p>Co-Founder & CEO, Slack</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 speaker">
                    <div class="speaker">
                        <div class="speaker__image">
                            <img src="~/Content/img/event-speaker8.jpg" alt="speaker" />
                        </div>
                        <div class="speaker__info">
                            <h5>CODY BALL</h5>
                            <p>Pixar Animation Studios</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="events__subscripe">
            <div class="container subscripe__wrapper">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h4 class="text-center">Sign Up For Our Newsletter</h4>
                    </div>
                    <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10 px-0">
                        <input type="text" placeholder="Your email adress" />
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                        <button class="subscribe__btn">Subscribe</button>
                    </div>

                </div>
            </div>
        </div>
    </section>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
