@model IEnumerable<Do_an_web.Models.menu> 

<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    @foreach (var i in Model)
    {
        <li class="nav-item active">
            <a class="nav-link" href="#">@i.name</a>
        </li>
    }



</ul>
