<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    @*CSS*@
    <link rel="stylesheet" href="~/Content/CSS/blog.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,400,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7eaad007ea.js"></script>


    <script src="https://cdn.linearicons.com/free/1.0.0/svgembedder.min.js"></script>
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
</head>

<body>

    <section class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h1 class="text-white">Blog</h1>
                    <h6 style="color: white;">HOME </h6>
                </div>
            </div>
        </div>
    </section>
    <section class="blog">

        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-6">
                            <article>
                                <div class="blog__thumbnail">
                                    <img src="~/Content/img/blog1.jpeg" alt="blog" />
                                    <div class="img__overlay"></div>
                                </div>
                                <h1>100% compatible WPML plugin</h1>
                                <div class="entry__meta">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="date__time">
                                                    <div>25</div>
                                                    <div>OCT</div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="comment__cout">
                                                        <i class="lnr lnr-bubble"></i>
                                                        <span class="number">02</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="view__cout">
                                                        <i class="lnr lnr-eye"></i>
                                                        <span class="number">323</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 pr-0">
                                                <div class="author">
                                                    Post by
                                                    <a href="#1">Jane Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__content">
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting change
                                        billionaire philanthropy revitalize
                                    </p>
                                </div>
                                <button class="blog__button">READ MORE</button>
                            </article>
                            <article>
                                <div class="blog__thumbnail">
                                    <img src="~/Content/img/blog2.jpeg" alt="blog" />
                                    <div class="img__overlay"></div>
                                </div>
                                <h1>Responsive and retina ready</h1>
                                <div class="entry__meta">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="date__time">
                                                    <div>20</div>
                                                    <div>MAY</div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="comment__cout">
                                                        <i class="lnr lnr-bubble"></i>
                                                        <span class="number">02</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="view__cout">
                                                        <i class="lnr lnr-eye"></i>
                                                        <span class="number">323</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 pr-0">
                                                <div class="author">
                                                    Post by
                                                    <a href="#1">Jane Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__content">
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting change
                                        billionaire philanthropy revitalize
                                    </p>
                                </div>
                                <button class="blog__button">READ MORE</button>
                            </article>
                            <article>
                                <div class="blog__thumbnail">
                                    <img src="~/Content/img/blog3.jpeg" alt="blog" />
                                    <div class="img__overlay"></div>
                                </div>
                                <h1>Use HTML5 and CSS3</h1>
                                <div class="entry__meta">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="date__time">
                                                    <div>01</div>
                                                    <div>NOV</div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="comment__cout">
                                                        <i class="lnr lnr-bubble"></i>
                                                        <span class="number">02</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="view__cout">
                                                        <i class="lnr lnr-eye"></i>
                                                        <span class="number">323</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 pr-0">
                                                <div class="author">
                                                    Post by
                                                    <a href="#1">Jane Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__content">
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting change
                                        billionaire philanthropy revitalize
                                    </p>
                                </div>
                                <button class="blog__button">READ MORE</button>
                            </article>
                            <article>
                                <div class="blog__thumbnail">
                                    <img src="~/Content/img/blog7.jpeg" alt="blog" />
                                    <div class="img__overlay"></div>
                                </div>
                                <h1>100% compatible WPML plugin</h1>
                                <div class="entry__meta">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="date__time">
                                                    <div>25</div>
                                                    <div>OCT</div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="comment__cout">
                                                        <i class="lnr lnr-bubble"></i>
                                                        <span class="number">02</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="view__cout">
                                                        <i class="lnr lnr-eye"></i>
                                                        <span class="number">323</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 pr-0">
                                                <div class="author">
                                                    Post by
                                                    <a href="#1">Jane Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__content">
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting change
                                        billionaire philanthropy revitalize
                                    </p>
                                </div>
                                <button class="blog__button">READ MORE</button>
                            </article>
                        </div>
                        <div class="col-md-6">
                            <article>
                                <div class="blog__thumbnail">
                                    <img src="~/Content/img/blog4.jpeg" alt="blog" />
                                    <div class="img__overlay"></div>
                                </div>
                                <h1>Use HTML5 and CSS3</h1>
                                <div class="entry__meta">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="date__time">
                                                    <div>01</div>
                                                    <div>NOV</div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="comment__cout">
                                                        <i class="lnr lnr-bubble"></i>
                                                        <span class="number">02</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="view__cout">
                                                        <i class="lnr lnr-eye"></i>
                                                        <span class="number">323</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 pr-0">
                                                <div class="author">
                                                    Post by
                                                    <a href="#1">Jane Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__content">
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting change
                                        billionaire philanthropy revitalize
                                    </p>
                                </div>
                                <button class="blog__button">READ MORE</button>
                            </article>
                            <article>
                                <div class="blog__thumbnail">
                                    <img src="~/Content/img/blog5.jpeg" alt="blog" />
                                    <div class="img__overlay"></div>
                                </div>
                                <h1>100% compatible WPML plugin</h1>
                                <div class="entry__meta">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="date__time">
                                                    <div>25</div>
                                                    <div>OCT</div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="comment__cout">
                                                        <i class="lnr lnr-bubble"></i>
                                                        <span class="number">02</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="view__cout">
                                                        <i class="lnr lnr-eye"></i>
                                                        <span class="number">323</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 pr-0">
                                                <div class="author">
                                                    Post by
                                                    <a href="#1">Jane Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__content">
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting change
                                        billionaire philanthropy revitalize
                                    </p>
                                </div>
                                <button class="blog__button">READ MORE</button>
                            </article>
                            <article>
                                <div class="blog__thumbnail">
                                    <img src="~/Content/img/blog6.jpeg" alt="blog" />
                                    <div class="img__overlay"></div>
                                </div>
                                <h1>100% compatible WPML plugin</h1>
                                <div class="entry__meta">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="date__time">
                                                    <div>25</div>
                                                    <div>OCT</div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="comment__cout">
                                                        <i class="lnr lnr-bubble"></i>
                                                        <span class="number">02</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div clase="view__cout">
                                                        <i class="lnr lnr-eye"></i>
                                                        <span class="number">323</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 pr-0">
                                                <div class="author">
                                                    Post by
                                                    <a href="#1">Jane Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__content">
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting change
                                        billionaire philanthropy revitalize
                                    </p>
                                </div>
                                <button class="blog__button">READ MORE</button>
                            </article>
                            <article>
                                <div class="blog__thumbnail">
                                    <img src="~/Content/img/blog8.jpeg" alt="blog" />
                                    <div class="img__overlay"></div>
                                </div>
                                <h1>100% compatible WPML plugin</h1>
                                <div class="entry__meta">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="row align-items-center justify-content-end">
                                                <div class="date__time">
                                                    <div>25</div>
                                                    <div>OCT</div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="comment__cout">
                                                        <i class="lnr lnr-bubble"></i>
                                                        <span class="number">02</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 px-0">
                                                    <div class="view__cout">
                                                        <i class="lnr lnr-eye"></i>
                                                        <span class="number">323</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12 pr-0">
                                                <div class="author">
                                                    Post by
                                                    <a href="#1">Jane Doe</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog__content">
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting change
                                        billionaire philanthropy revitalize
                                    </p>
                                </div>
                                <button class="blog__button">READ MORE</button>
                            </article>
                        </div>
                    </div>
                </div>
                <aside class="col-md-3">
                    <div class="col-md-12">
                        <div class="aside__frame text-center">
                            <div class="aside__header">
                                <h3>CATEGORIES</h3>
                            </div>
                            <div class="aside__content">
                                <div class="aside__category">
                                    <ul class="nav flex-column text-left">
                                        <li class="nav-item">
                                            Fashion's Star
                                            <span>
                                                <i class="fas fa-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="nav-item">High Fashion</li>
                                        <li class="nav-item">Kid’s Clothing</li>
                                        <li class="nav-item">Men’s Clothing</li>
                                        <li class="nav-item">Quote</li>
                                        <li class="nav-item">
                                            What's New
                                            <span>
                                                <i class="fas fa-sort-down"></i>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="aside__frame text-center">
                            <div class="aside__header">
                                <h3>RECENT COMMENTS</h3>
                            </div>
                            <div class="aside__content">
                                <div class="aside__comment">
                                    <div class="comment__item text-left">
                                        <div class="comment__meta d-flex align-items-center">
                                            <img src="~/Content/img/comment.jpeg" alt="comment" />
                                            <div class="comment__author d-flex flex-column">
                                                <span class="px-0">
                                                    <a href="#1">Jane Doe</a>
                                                </span>
                                                <span>Nov 05, 2015</span>
                                            </div>
                                        </div>
                                        <blockquote>
                                            Feugiat delicata liberavisse id cum
                                        </blockquote>
                                    </div>
                                    <hr />
                                    <div class="comment__item text-left">
                                        <div class="comment__meta d-flex align-items-center">
                                            <img src="~/Content/img/comment.jpeg" alt="comment" />
                                            <div class="comment__author d-flex flex-column">
                                                <span class="px-0">
                                                    <a href="#1">Jane Doe</a>
                                                </span>
                                                <span>Nov 05, 2015</span>
                                            </div>
                                        </div>
                                        <blockquote>
                                            Feugiat delicata liberavisse id cum
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="aside__frame text-center">
                            <div class="aside__header">
                                <h3>RECENT POSTS</h3>
                            </div>
                            <div class="aside__content">
                                <div class="recent_item text-left">
                                    <div class="recent__img">
                                        <img src="~/Content/img/blog1.jpeg" alt="blog-2" />
                                        <div class="aside__overlay"></div>
                                    </div>
                                    <a href="#1">Responsive and retina ready</a>
                                    <div class="recent__date d-flex">
                                        <div class="datetime">
                                            <i class="far fa-calendar-alt">
                                                May 24, 2014
                                            </i>
                                        </div>
                                        <div class="comment pl-4">
                                            <i class="far fa-comments">2</i>
                                        </div>
                                    </div>
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting
                                    </p>
                                </div>
                                <hr />
                                <div class="recent_item text-left">
                                    <div class="recent__img">
                                        <img src="~/Content/img/blog2.jpeg" alt="blog-5" />
                                        <div class="aside__overlay"></div>
                                    </div>
                                    <a href="#1">Amazing revolution slider</a>
                                    <div class="recent__date d-flex">
                                        <div class="datetime">
                                            <i class="far fa-calendar-alt">
                                                May 10, 2015
                                            </i>
                                        </div>
                                        <div class="comment pl-4">
                                            <i class="far fa-comments">5</i>
                                        </div>
                                    </div>
                                    <p>
                                        Solve challenges Action Against Hunger citizenry Martin
                                        Luther King Jr. Combat malaria, mobilize lasting
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="aside__banner text-center my-5">
                            <img src="~/Content/img/blog-banner.jpg" alt="blog-banner" />
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>